<%= form_with(model: listing, local: true, id: "createlisting")  do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% puts current_user %>
    <h1>Create a new listing</h1>
  <div class="field">
    <%= form.text_field :address, autofocus: true, autocomplete: "address", class: 'fancy-input', placeholder: 'Address' %>
  </div>
  <div class="field" style="position:relative;">
      <span id="dollar">$</span>
    <%= form.text_field :price, autofocus: true, class: 'fancy-input', placeholder: 'Price per month' %>
  </div>
  <div class="field">
      <p style="">Term</p>
    <%= form.select :term, options_for_select([ ["Summer 2018", "summer 2018"], ["Fall 2018", "fall 2018"], ["Spring 2019", "spring 2019"]], 3) %>
  </div>
  <div class="field">
    <%= form.text_field :bedrooms, autofocus: true, class: 'fancy-input', placeholder: '# Bedrooms' %>
  </div>
  <div class="field">
    <%= form.text_field :bathrooms, autofocus: true, class: 'fancy-input', placeholder: '# Bathrooms' %>
  </div>
  <div class="field" style="position:relative;">
    <%= form.text_field :square_footage, autofocus: true, class: 'fancy-input', placeholder: 'Square Footage' %>
  <span id="sqft">sq ft</span>

  </div>
  <div class="field">
    <%= form.text_area :text, autofocus: true, class: 'fancy-input description', placeholder: 'Description' %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
