<div>
<h1> <%= @listing.address %> </h1>
    <h3> <%= @listing.price %> </h3>
    <h3> <%= @listing.term %> </h3>
    <h3> <%= @listing.bedrooms %> </h3>
    <h3> <%= @listing.bathrooms %> </h3>

    <h3> <%= @listing.user %> </h3>
    <h3> <%= link_to "Show More", controller: "listings", action: "show", id: @listing.id %>
					<%# button_to "FAV!", controller: "favorites", action: "create", listing_id: @listing.id, user_id: current_user.id %></h3>
</div>


<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
