<% @pokemons.each do | p | %>       
  <tr>
    <td><%= image_tag("pokemon/#{p.ndex}.png", alt: "pokemon") %></td>
    <td><%= p.name %></td>  
    <td><%= p.level %></td> 
    <td><%= p.health %></td>
    <td><%= button_to "Damage Pokemon", damage_path(id: p), :class => "button medium", :method => :patch %></td>
  </tr>
<% end %> 


<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
