<div id="listing">
    <h1> <%= @listing.address %> </h1>
    <h3> <%= @listing.price %> </h3>
    <h3> <%= @listing.term %> </h3>
    <h3> <%= @listing.bedroom %> </h3>
    <h3> <%= @listing.bathroom %> </h3>
    <h3> <%= @listing.poster %> </h3>
    <h3> <%= @listing.bedrooms %> </h3>
    <h3> <%= @listing.bedrooms %> </h3>
    <td> <%= link_to "Show More", controller: "listings", action: "show", id: @listing.id %>
					<%= button_to "FAV!", controller: "favorites", action: "create", listing_id: @listing.id, user_id: current_user.id %>
</td>
    
</div>